:root {
    /*typography*/
    
    /*theme colors*/
    --text-color: #FEFEFA;
    --main-color: #1A1A1A;
    --hover-color:  #C5C5FD;
    /* Animations */
    --nav-load-time: 300ms;
    --nav-link-load-time: 500ms;
    --text-load-delay: calc(var(--nav-load-time) + var(--nav-link-load-time))
}

/*------------------------navbar----------------*/
.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.text-black {
    color: var(--text-color);
}

body {
    margin: 0;
    height: auto;
}

nav {
    padding: 0;
    background: var(--main-color);
    position: relative;
    justify-content: space-between;
    height: 0rem;
    min-height: 11vh;
    overflow-y: hidden;
    transition: height 1s cubic-bezier(0.26,-0.01,0, 1.01);
    border-bottom: 1px solid #f3f3f3;
    animation: nav-load var(--nav-load-time) ease-in;
}

nav .nav-brand a{
    display: block;
    padding: 1rem;
    font-family: var(--lexend);
    font-size: 1.6rem;
}

nav .nav-items {
    list-style-type: none;
    margin: 0;
}

nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
    font-family: var(--livvic);
    font-size: 1.1rem;
}

nav .nav-items .nav-link:hover{
    background: var(--main-color);
}

nav .nav-items .nav-link:hover a {
    color: var(--hover-color);
}

nav .social {
    padding: 1.3rem;
}

nav .social i {
    padding: 0.2rem;
}

nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 100%;
    cursor: pointer;
    display: none;
}

nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.4rem 4rem;
}

nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
}

.collapse {
    height: 30rem;
}

@media only screen and (max-width: 800px) {
    nav .nav-items {
        flex-direction: column;
        text-align: center;
        animation: slide-in-right;
    }
    nav {
        flex-direction: column !important;
        display: block !important;
        padding-left: 2rem;
        overflow-x: hidden;
    }
    nav.toggle-collapse {
        display: initial;
    }
    nav .toggle-collapse {
        display: initial;
        padding-left: "";
    }
    nav .social {
        display: none;
    }
}

@keyframes slide-in-right {

}

@keyframes text-load {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/*------------------------MAIN----------------*/
h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0; 
    animation: text-load 300ms ease-in var(--text-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-style: italic;
    margin: 0;
    margin-top: 8px;
    animation: text-load 300ms ease-in var(--text-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

image {
    width: 100%;
}

.hero {
    max-width: 900px;
    margin: auto;
}

.hero_text {
    color: var(--text-color);
    display: flex;
    flex: 0 1 40vw;
    height: 80vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

.hero-text h2 {
    color: var(--main-color);
    text-align: center;
    justify-content: center;
}

#hero_image {
    background-image: url(assets/img/game-light-4696540_1920.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -5;
    height: 90vh;
}

.btn {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: var(--text-color);
    transition: 500ms ease;
    animation: text-load 300ms ease-in var(--text-load-delay);
    animation-fill-mode: forwards;
    transform: translateY(-20px);
    opacity: 0;
}

.btn:hover {
    background-color: var(--hover-color);
    color: var(--main-color);
    transition: 500ms ease;
}

.arrow_icon {
   text-align: center;
   display: inline-block;
   width: 100%;
   color: white;
   font-size: 25px;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
/*------------------------BODY----------------*/

img{
    display: block;
    width: 100%;
    animation-duration: 4s;
    animation-name: slidein;
}

img:hover {
    opacity: 0.5;
    transition: .9s;
}

#header {
    padding: 1.5rem;
    text-align: center;
    color: var(--text-color);
    background-color: var(--main-color);
}

#header h2 {
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.caption {
    padding: 0.8rem;
    text-align: center;
    color: var(--text-color);
    background-color: var(--main-color);
    border-bottom: solid 1px #f3f3f3;
}

/*------------------------ FOOTER ----------------*/

footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    background-color: var(--main-color);
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
    color: var(--text-color);
}

footer p {
    color: var(--text-color);
}

.footer-social i {
    color: var(--text-color);
}